
.title{
	color: black;

}
.container{
	padding-left:0px;
	padding-right: 5px;
	height: 100%;
	width: 100%;
	background-color: grey;
}

.header{
	height: 10%;
	width: 100%;
padding-left:15px;
	
}
.navcust{
	
	border:0px;
	width: 100%;
}
a{
	color: white;

}
.aside{
	padding-left:15px;
	margin-left: 10px;
	width:20%;
	background-color: black;
	color: white;
	line-height: 5px;
}
.title{
	line-height: 12px;
	display: inline-block;
}
.moto{
	line-height: 12px;
	display: inline-block;
}
.contact{
	background-color: white;
}